@model IEnumerable<Product>

<div class="row pb-3">
    @foreach (var prodct in Model)
    {
        <div class="col-lg-3 col-sm-6 d-flex mt-2">
            <div class="card border-0 p-3 shadow border-top border-5 rounded w-100 d-flex flex-column">

                <img src="@prodct.ImageUrl"
                     class="w-100 h-100 object-fit-cover  bg-light"
                     style="height:260px;" />

                <div class="card-body pb-0">
                    <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">
                        @prodct.Title
                    </p>

                    <p class="card-text text-warning text-center">
                        By: <b class="h5">@prodct.Author</b>
                    </p>

                    <p class="text-dark text-center text-opacity-75">
                        List Price:
                        <span class="text-decoration-line-through">
                            @prodct.ListPrice.ToString("c")
                        </span>
                    </p>

                    <p class="text-dark text-center text-opacity-75">
                        As low as:
                        <span>@prodct.Price100.ToString("c")</span>
                    </p>
                </div>
                @* same name as in Controllers input Parameter ProductId to=>(asp-route-ProductId)*@              
                <div class="mt-auto">
                    <a asp-action="Details"
                       asp-route-ProductId="@prodct.Id"
                    class="btn btn-primary bg-gradient form-control">
                        Details
                    </a>
                </div>

            </div>
        </div>
    }
</div>
